@import "tailwindcss";

.gradient-text {
  background: linear-gradient(45deg, #ff9900, #ff8c00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-color {
  background-color: #fbfbfb;
}
